<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">Cottage Haven</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/#">Create Listing</a>
        <% if(!user) { %>
          <form action="/api/users/logout" method="POST"></form>
          <a class="nav-item nav-link btn btn-primary" href="/api/users/login">Login</a>
          <a class="nav-item nav-link btn btn-primary" href="/api/users/register">Register</a>
        </form>
        <%} else { %>
<<<<<<< HEAD
          <a class="nav-item nav-link" href="/#">My Listings</a>
=======
          <a class="nav-item nav-link" href="/api/users/properties">My Listings</a>
>>>>>>> c61224fd2c100d59247cffa432a7b388f2c3c8ba
          <a class="nav-item nav-link" href="/api/messages/notes">Messages</a>
          <span>Hello: <%= user.name %></span>
          <form action="/api/users/logout" method="POST">
            <button class="nav-item nav-link btn btn-primary">logout</button>
        </form>
        <% } %>
      </div>
      </div>
    </div>
  </nav>
</header>
