<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cottage Haven</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main>

      <div id="main-img-container">

        <img src="https://images.pexels.com/photos/147411/italy-mountains-dawn-daybreak-147411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">

      <% if (!user) { %>

      <h3 class="home_text">Please login or create an account to view listings</h3>

       <% } else {%>

      <!-- Search form -->
      <h2>Seach Listings</h2>

      <form action="/api/users/gallery" method="POST" class="form-inline home_text" id="search-property-form">

        <div class="form-group mb-2" id="user-forms">
          <div>
          <label for="search-property-form__minimum-price" id="search_text">Minimum Cost</label>
          <input type="number" name="minimum_price" placeholder="MinCost" id="search-property-form__minimum-price" required>
        </div>
        <div>
          <label for="search-property-form__maximum-price" id="search_text">Maximum Cost</label>
          <input type="number" name="maximum_price" placeholder="Max Cost" id="search-property-form__maximum" required>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Search</button>
            <!-- <a id="search-property-form__cancel" href="#" >Cancel</a> -->
        </div>
      </div>
      </form>

      <% } %>
     </div>
    </main>








    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
