<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Cottage Haven - Property Profile</title>
    <%- include('partials/_head') %>

  </head>

  <body>
    <!-- UN-COMMENT the below include to get NAV -->
    <%- // include('partials/_header') %>

    <main style="margin: 1em;">
      <!-- add code for propery profile. -->
      <section id="property-top">
        <h3>Property Title</h3>
        <form class="form-inline" action="api/messages/CREATE?" method="POST">
          <button type="submit" class="btn btn-primary">Message Owner</button>
        </form>
      </section>

      <section id="property-main">
        <article id="property-left">
          <h4>$452,000.00</h4>
          <ul>
            <li>1 bath</li>
            <li>2 bedrooms</li>
            <li>3 parking</li>
            <li>...</li>
          </ul>
          <div id="property-btn-container">
            <form class="form-inline" action="api/properties/EDIT?" method="POST">
              <button type="submit" class="btn btn-warning">Edit</button>
            </form>
            <form class="form-inline" action="api/properties/DELETE?" method="POST">
              <button type="submit" class="btn btn-warning">Delete</button>
            </form>
          </div>
        </article>

        <article id="property-right">
          <img src="https://picsum.photos/200/300" alt="property image">
        </article>
      </section>

      <article id="property-desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla temporibus est ratione repudiandae adipisci, alias accusamus officiis natus iure nemo aspernatur nesciunt ea a totam cumque atque inventore corporis iusto.</p>
      </article>

    </main>

      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
