// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

main {
  margin-top: 56px;

  h1, h2, h3 {
    padding: 1.5rem;
  }
}

#main-img-container {
    position: relative;
    text-align: center;
    color: white;

    h3 {
      text-shadow: 2px 1px #585858;
    }
  h3, form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    text-shadow: 2px 1px #585858;
    position: absolute;
    top: .2rem;
    left: 1rem;
  }
}

#search_text {
  font-size: 1.25rem;
  text-shadow: 2px 1px #050202de;
 }

#main-img-container img {
  background-color: (0, 0, 0, 0.7);
  object-fit: cover;
  opacity: .8;
  width: 100%;
  height: 60vh;
 }


nav {
  background-color: #585858;
}

.column-headers th,
.column-headers td {
text-align: center;
}

.column-headers .message-content {
  text-align: left;
}

.btn {
  margin: 0 .3rem;
}
// #message-owner {
//   height: 38px!important;
// }
#owner_button {
  border: none;
  background-color: #FFFFFF;

}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// add gallery here
#gallery-container {
  margin: 2rem auto;
  padding: 2rem;
  // width: 90vw;
  // border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#pic-card {
  width: 250px;
  padding: 1rem;
  text-align: center;
}
#pic-card img {
  width: 100%;
  height: auto

}
#pic-card:hover {
   box-shadow: inset 0 0 10px #000000;
  cursor: pointer;
}
#pic-card:visited {
  color: #000000;
}

// login and register form styles -----------------

#user-forms {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#search-property-form {
  div {
    padding: .5rem 0;
  }
}

// Property Profile -------------------------------
section#property-top {
  display: flex;
  justify-content: space-between;
}
#fave-msg-owner-btns {
  padding-right: 1rem;
  display: flex;
}
section#property-main {
  margin: 0 auto;
  max-width: 60vw;
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}
section#property-main img {
  width: 300px;
  height: 300px;
  padding: 0 0 1rem 1rem;
}
article #property-btn-container {
  display: flex;
  justify-content: space-around;
}
article#property-desc {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 60vw;
}
section#thumbs {
  margin: 0 auto;
  display: flex;
  max-width: 80vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
section#thumbs img {
  padding: 1rem;
  width: 150px;
  height: 150px;
}

/* lg-smartphone breakpoint. using max width of 600px */
@media only screen and (max-width: 600px) {
  section#property-top {
    flex-direction: column;
    align-items: center;
  }
  #fave-msg-owner-btns {
    padding-right: 0;
  }
  section#property-main img {

    padding: 0 0 1rem 0rem;
  }
}

// Create Listing -------------------------------
form#create-property-frm {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}


